@model List<BLUPESCASTORE.Models.ARTICOLO>

<h2>Risultati di ricerca</h2>

@if (!Model.Any())
{
    <p>Nessun articolo trovato.</p>
}
else
{
    <div class="card-container d-flex flex-wrap justify-content-center">
        @foreach (var articolo in Model)
        {
            <div class="card fade-in-right m-3" style="width: 20rem; height: 100%; min-height: 500px;">
                <img src="~/Content/img/@Html.DisplayFor(modelItem => articolo.Foto)" style="width: 100%; height: 100%; object-fit: cover;" />
                <div class="card-body">
                    <p class="card-title">@Html.DisplayFor(modelItem => articolo.NomeArticolo)</p>
                    <p class="card-text short-text">@Html.DisplayFor(modelItem => articolo.Descrizione)</p>
                    @if (articolo.Esaurito == true)
                    {
                        <div class="alert alert-warning">Esaurito</div>
                    }
                    else
                    {
                        <div class="card-text">
                            <p>Quantità in magazzino: @Html.DisplayFor(modelItem => articolo.InMagazzino)</p>

                            <p class="price">@Html.DisplayFor(modelItem => articolo.Prezzo)</p>
                        </div>
                        if (!User.IsInRole("Amministratore"))
                        {
                            <div class="card-text qta">
                                <span>Qtà</span><h5 class="card-title quantita"><input type="number" min="1" step="1" class="quantity-input" data-id="@articolo.IdArticolo" /></h5>
                            </div>
                            <div id="contBtn">
                                <a href="#" data-id="@articolo.IdArticolo" class="OrdinaBtn" style="white-space: nowrap; cursor: pointer;">Aggiungi al carrello</a>
                            </div>
                        }
                    }
                    @if (!User.IsInRole("Amministratore"))
                    {
                        using (Html.BeginForm("AddToPreferitiPost", "Preferiti", FormMethod.Post, new { @class = "add-to-favorites-form", data_idArticolo = articolo.IdArticolo }))
                        {
                            @Html.Hidden("idArticolo", articolo.IdArticolo)
                            <button type="submit" class="btn btn-link" style="color: lightgray;"><i class="Heart fa fa-heart-o fa-2x"></i></button>
                        }
                    }
                    <div class="card-text">
                        <a href="@Url.Action("Articolo", "MenuArticolo", new { id = articolo.IdArticolo })" class="btn btn-secondary">Vai all'articolo</a>
                    </div>
                </div>
            </div>
        }
    </div>
}


@if (User.Identity.IsAuthenticated && !User.IsInRole("Amministratore"))
{
    <button onclick="cartFunction()" id="cartBtn" title="Vai al carrello" data-aos="zoom-in">
        <i class="bi bi-cart4"></i> Carrello
        <span class="badge badge-light" id="cart-count" style="background-color: red; color: white;"></span>
    </button>
}

<script>
    /*QUESTO SCRIPT AGGIUNGE E RIMUOVE GLI ARTICOLI DAL DATABASE!!! FUNZIONA TUTTO E NON LO TOCCARE */
    $(document).ready(function () {
        // Ottieni gli articoli preferiti dell'utente al momento del login
        $.get('/Preferiti/GetPreferiti')
            .done(function (preferiti) {
                // Per ogni articolo preferito, attiva il cuoricino corrispondente
                preferiti.forEach(function (idArticolo) {
                    var form = $('.add-to-favorites-form[data-idArticolo="' + idArticolo + '"]');
                    var button = form.find('button');
                    var icon = button.find('i');

                    // Colora l'icona di rosso e rendila piena
                    icon.removeClass('fa-heart-o').addClass('fa-heart');
                    button.css('color', 'red');
                });
            });

        // Carica lo stato dei preferiti per ogni articolo
        $('.add-to-favorites-form').each(function () {
            var form = $(this);
            var button = form.find('button');
            var icon = button.find('i');

            $.get('/Preferiti/IsInPreferiti?idArticolo=' + form.data('idArticolo'))
                .done(function (isFavorited) {
                    if (isFavorited) {
                        // Se l'articolo è nei preferiti, colora l'icona di rosso e rendila piena
                        icon.removeClass('fa-heart-o').addClass('fa-heart');
                        button.css('color', 'red');
                    } else {
                        // Se l'articolo non è nei preferiti, rendi l'icona vuota e grigia
                        icon.removeClass('fa-heart').addClass('fa-heart-o');
                        button.css('color', 'lightgray');
                    }
                });
        });

        // Gestione dell'aggiunta e della rimozione dai preferiti
        $('.add-to-favorites-form').submit(function (e) {
            e.preventDefault();

            var form = $(this);
            var button = form.find('button');
            var icon = button.find('i');

            var isFavorited = icon.hasClass('fa-heart');
            var action = isFavorited ? '/Preferiti/RemoveFromPreferitiPost' : form.attr('action');

            $.post(action, form.serialize())
                .done(function () {
                    if (isFavorited) {
                        // Se l'articolo era nei preferiti, rendi l'icona vuota e grigia
                        icon.removeClass('fa-heart').addClass('fa-heart-o');
                        button.css('color', 'lightgray');
                        sweetAlert("Successo", "Articolo rimosso dai preferiti.", "success");
                    } else {
                        // Se l'articolo non era nei preferiti, colora l'icona di rosso e rendila piena
                        icon.removeClass('fa-heart-o').addClass('fa-heart');
                        button.css('color', 'red');
                        sweetAlert("Successo", "Articolo aggiunto ai preferiti.", "success");
                    }
                })
                .fail(function () {
                    sweetAlert("Errore", "Non è stato possibile aggiornare i preferiti.", "error");
                });
        });
    });</script>




<script>
    function cartFunction() {
        window.location.href = '/Dettaglio/Carrello';
    }</script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
$(document).ready(function() {
    $.get('@Url.Action("GetCount", "Dettaglio")', function(data) {
        $('#cart-count').text(data);
    });
});
</script>


<!--SCRIPT PER GESTIRE IL TOTALE DEI CARATTERI NELLA DESCRIZIONE-->
<script>
    $(document).ready(function () {
        var showChar = 40;
        var ellipsestext = "";
        var moretext = "Mostra di più";
        var lesstext = "Mostra meno";
        $('.short-text').each(function () {
            var content = $(this).html();

            if (content.length > showChar) {
                var c = content.substr(0, showChar);
                var h = content.substr(showChar, content.length - showChar);

                var html = c + '<span class="moreellipses">' + ellipsestext + '&nbsp;</span><span class="morecontent"><span>' + h + '</span></span><br><a href="" class="morelink">' + moretext + '</a>';

                $(this).html(html);
                $(this).find('.morecontent').hide(); // Nascondi il testo esteso all'inizio
            }

        });

        $(".morelink").click(function () {
            if ($(this).hasClass("less")) {
                $(this).removeClass("less");
                $(this).html(moretext);
                $(this).siblings('.morecontent').hide();
            } else {
                $(this).addClass("less");
                $(this).html(lesstext);
                $(this).siblings('.morecontent').show();
            }
            return false;
        });

    });</script>

<!--SCRIPT PER GESTIRE IL TITOLO DELLA CARD-->

<script>
    $(document).ready(function () {
        $('.card-title').each(function () {
            var title = $(this).text();
            if (title.length > 30) {
                $(this).text(title.substring(0, 30) + '...');
            }
        });
    });</script>




<script type="text/javascript">
    $('.categoria-titolo').click(function (event) {
        event.preventDefault();
        var categoria = $(this).data('categoria');
        var cards = $('.card-container[data-categoria="' + categoria + '"] .card');

        if (cards.is(':visible')) {
            cards.hide();
        } else {
            cards.show();
        }

        controllaCard();
    });

    function controllaCard() {
        if ($('.card:visible').length == 0) {
            $('#categorie').addClass('d-flex');
        } else {
            $('#categorie').removeClass('d-flex');
        }
    }

    $(document).ready(function () {
        controllaCard();
    });</script>

@if (!User.IsInRole("Amministratore"))
{
    <button onclick="cartFunction()" id="cartBtn" title="Vai al carrello" data-aos="zoom-in">
        <i class="bi bi-cart4"></i> Carrello
    </button>
}

<script>
    function cartFunction() {
        window.location.href = '/Dettaglio/Carrello';
    }</script>

<script>
// Funzione per aggiornare il conteggio del carrello
function updateCartCount() {
    $.get('@Url.Action("GetCount", "Dettaglio")', function(data) {
        $('#cart-count').text(data);
    });
}

</script>



<script type="text/javascript">//SCRIPT PER AGGIUNGERE GLI ARTICOLI AL CARRELLO
function updateCartIcon() {
    $.get('@Url.Action("GetCount", "Dettaglio")', function(data) {
        $('.cart-count').text(data);
    });
}

$(document).ready(function () {
    var baseUrl = "/Dettaglio/Index/";
    var isAuthenticated = '@User.Identity.IsAuthenticated' === 'True';
    $(".OrdinaBtn").click(function (event) {
        event.preventDefault();
        var id = $(this).data("id");
        var quantity = $(this).parent("#contBtn").siblings(".qta").children(".quantita").children("input").val();
        var inMagazzino = $(this).parent("#contBtn").siblings(".card-text").children("p").text().split(' ')[3]; // Ottieni la quantità in magazzino

        if (!isAuthenticated)
        {
            swal({
                title: "Utente non loggato",
                text: "Effettua il login!",
                icon: "warning",
                button: "OK",
            });
        }
        else if (quantity > inMagazzino) // Verifica se la quantità richiesta supera la quantità disponibile
        {
            swal({
                title: "Quantità non disponibile",
                text: "Stai cercando di aggiungere più articoli di quanti ce ne siano in magazzino.",
                icon: "warning",
                button: "OK",
            });
        }
        else
        {
            $.ajax({
                url: baseUrl,
                type: "GET",
                data: { id: id, quantity: quantity },
                success: function (response) {
                    swal("Fatto!", "Articolo aggiunto con successo!", "success");
                    $('.card-text.qta').find('input').val('');
                    // Aggiorna il conteggio del carrello
                    updateCartCount();
                    // Aggiorna l'icona del carrello nella navbar
                    updateCartIcon();
                },
                error: function (xhr, status, error) {
                    swal("Errore!", "Errore in fase di aggiunta articolo: " + error, "error");
                }
            });
        }
    });
});


</script>


<script>
    $(window).scroll(function () {
        if ($(this).scrollTop() > 100) { // Imposta la posizione da cui inizia lo scrolling
            $('#menuCategorie').addClass('fixed');
        } else {
            $('#menuCategorie').removeClass('fixed');
        }
    });</script>



<script type="text/javascript">
    $(document).ready(function () {
        $('.fade-in-right').addClass('animated fadeInRight');
    });</script>


<script>
    $(window).scroll(function () {
        var footerTop = $('#footer').offset().top; // Ottieni la posizione del footer
        var categoryBottom = $('#menuCategorie').offset().top + $('#menuCategorie').height(); // Ottieni la posizione inferiore della colonna delle categorie

        if (categoryBottom > footerTop) {
            $('#menuCategorie').css('position', 'static'); // Cambia la posizione in static quando la colonna delle categorie raggiunge il footer
        } else {
            $('#menuCategorie').css('position', 'fixed'); // Altrimenti, rendi la posizione fixed
        }
    });</script>
