@model BLUPESCASTORE.Models.ARTICOLO

@{
    ViewBag.Title = "Delete";
}

<h2 class="fade-in-right custom-title">ELIMINA ARTICOLO</h2>

<div class="container-fluid" id="bgMenu">

    <div class="container" id="areaRiservata">

        <div>


            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.NomeArticolo)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.NomeArticolo)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Descrizione)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Descrizione)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Prezzo)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Prezzo)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Foto)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Foto)
                </dd>

            </dl>

            @using (Html.BeginForm("Delete", "MenuArticolo", FormMethod.Post, new { id = "deleteForm" }))
            {
                @Html.AntiForgeryToken()
                @Html.HiddenFor(model => model.IdArticolo)

                <div class="form-actions no-color">
                    <input type="button" value="Elimina" class="btn btn-danger" id="salva" onclick="showAlert()" />
                    @Html.ActionLink("Ritorna agli articoli", "ListaAdmin", "MenuArticolo", null, new { @class = "btn btn-secondary" })
                </div>
            }
        </div>
    </div>
</div>

@section Scripts {
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script>
        function showAlert() {
            swal({
                title: "Sei sicuro?",
                text: "Una volta eliminato, non sarai in grado di recuperare questo articolo!",
                icon: "warning",
                buttons: ["No, annulla!", "Sì, elimina!"],
                dangerMode: true,
            })
                .then((willDelete) => {
                    if (willDelete) {
                        $("#deleteForm").submit();
                    }
                });
        }
    </script>
}

<style>
    .custom-title {
        color: #1851C2; /* Cambia questo con il colore che preferisci */
        font-family: 'Fishing Script', cursive; /* Cambia questo con il font che preferisci */
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Questo aggiunge un'ombra al testo */
    }
</style>