@model BLUPESCASTORE.Models.ARTICOLO

@{
    ViewBag.Title = "Details";
}

<h2>DETTAGLI DELL TUO ARTICOLO</h2>

<div class="container-fluid" id="bgMenu">

    <div class="container " id="areaRiservata">

        <dl class="dl-horizontal">
            <dt class="fade-in-right">
                @Html.DisplayNameFor(model => model.NomeArticolo)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.NomeArticolo)
            </dd>

            <dt class="fade-in-right">
                @Html.DisplayNameFor(model => model.CATEGORIA.NomeCategoria)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CATEGORIA.NomeCategoria)
            </dd>

            <dt class="fade-in-right">
                @Html.DisplayNameFor(model => model.Descrizione)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Descrizione)
            </dd>

            <dt class="fade-in-right">
                @Html.DisplayNameFor(model => model.Prezzo)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Prezzo)
            </dd>

            <dt class="fade-in-right">
                @Html.DisplayNameFor(model => model.InMagazzino)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.InMagazzino)
            </dd>
        </dl>
        <p>
            <a href="@Url.Action("Edit", new { id = Model.IdArticolo })" class="btn btn-warning">Modifica</a>
            <a href="@Url.Action("ListaAdmin")" class="btn btn-secondary">Ritorna agli articoli</a>
        </p>

    </div>
</div>