@model BLUPESCASTORE.Models.MenuArticoloIndexViewModel

@{
    ViewBag.Title = "Index";
}

<div class="container-fluid" id="bgMenu">
    <div class="row">
        <div class="d-flex flex-column flex-md-row">
            <div class="category col-12 col-md-3 order-1 order-md-2 d-none d-md-block" id="menuCategorie">
                <div class="list-group">
                    <h1 class="responsive-title" data-aos="zoom-in">Categorie:</h1>
                    @foreach (var categoria in Model.ArticoliPerCategoria)
                    {
                        <a href="@Url.Action("PerCategoria", "MenuArticolo", new { categoria = categoria.Key.NomeCategoria })" class="list-group-item list-group-item-action">@categoria.Key.NomeCategoria</a>
                    }
                </div>
            </div>


            <div class="ColArt col-12 col-md-9 order-2 order-md-1 d-flex justify-content-center">
                <div class="flexCard container" style="text-align:center">
                    <h1 class="responsive-title" data-aos="zoom-in">I nostri articoli:</h1>
                    <section id="categorie" class="d-flex flex-wrap">
                        @foreach (var categoria in Model.ArticoliPerCategoria)
                        {
                            <div class="card-container d-flex flex-wrap justify-content-center" data-categoria="@categoria.Key.NomeCategoria" style="display: none;">
                                @foreach (var articolo in categoria.Value)
                                {
                                    <div class="card fade-in-right m-3" style="width: 20rem; height: 100%; min-height: 500px;">
                                        <img src="~/Content/img/@Html.DisplayFor(modelItem => articolo.Foto)" />
                                        <div class="card-body">
                                            <h5 class="card-title">@Html.DisplayFor(modelItem => articolo.NomeArticolo)</h5>
                                            <p class="card-text short-text">@Html.DisplayFor(modelItem => articolo.Descrizione)</p>
                                            @if (articolo.Esaurito == true)
                                            {
                                                <div class="alert alert-warning">Esaurito</div>
                                            }
                                            else
                                            {
                                                // Mostra i bottoni e i campi di input solo se l'articolo non è esaurito
                                                <div class="card-text qta">
                                                    <h5 class="card-title quantita"><input type="number" min="1" step="1" class="quantity-input" data-id="@articolo.IdArticolo" /></h5>
                                                </div>
                                                <div class="card-text">
                                                    <h5 class="card-title">@Html.DisplayFor(modelItem => articolo.Prezzo)</h5>
                                                </div>
                                                <div id="contBtn">
                                                    <a href="#" data-id="@articolo.IdArticolo" class="OrdinaBtn" style="white-space: nowrap; cursor: pointer; color: #ff6347; ">Aggiungi al carrello</a>
                                                </div>
                                            }

                                        </div>
                                        @if (!User.IsInRole("Amministratore") && articolo.Esaurito.HasValue && !articolo.Esaurito.Value)
                                        {
                                            <div class="card-text qta">
                                                <h5 class="card-title quantita"><input type="number" min="1" step="1" class="quantity-input" data-id="@articolo.IdArticolo" /></h5>
                                            </div>
                                            <div class="card-text">
                                                <h5 class="card-title">@Html.DisplayFor(modelItem => articolo.Prezzo)</h5>
                                            </div>
                                            <div id="contBtn">
                                                <a href="#" data-id="@articolo.IdArticolo" class="OrdinaBtn" style="white-space: nowrap; cursor: pointer; color: #ff6347; ">Aggiungi al carrello</a>
                                            </div>
                                        }
                                    </div>
                                }
                            </div>
                        }
                    </section>
                </div>
            </div>
        </div>
    </div>
</div>









@if (User.Identity.IsAuthenticated && !User.IsInRole("Amministratore"))
{
    <button onclick="cartFunction()" id="cartBtn" title="Vai al carrello" data-aos="zoom-in">
        <i class="bi bi-cart4"></i> Carrello
        <span class="badge badge-light" id="cart-count" style="background-color: red; color: white;"></span>
    </button>
}



<script>
    function cartFunction() {
        window.location.href = '/Dettaglio/Carrello';
    }
</script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
$(document).ready(function() {
    $.get('@Url.Action("GetCount", "Dettaglio")', function(data) {
        $('#cart-count').text(data);
    });
});
</script>


<!--SCRIPT PER GESTIRE IL TOTALE DEI CARATTERI NELLA DESCRIZIONE-->
<script>
    $(document).ready(function () {
        var showChar = 40;
        var ellipsestext = "...";
        var moretext = "Mostra di più";
        var lesstext = "Mostra meno";
        $('.short-text').each(function () {
            var content = $(this).html();

            if (content.length > showChar) {
                var c = content.substr(0, showChar);
                var h = content.substr(showChar, content.length - showChar);

                var html = c + '<span class="moreellipses">' + ellipsestext + '&nbsp;</span><span class="morecontent"><span>' + h + '</span></span><br><a href="" class="morelink">' + moretext + '</a>';

                $(this).html(html);
                $(this).find('.morecontent').hide(); // Nascondi il testo esteso all'inizio
            }

        });

        $(".morelink").click(function () {
            if ($(this).hasClass("less")) {
                $(this).removeClass("less");
                $(this).html(moretext);
                $(this).siblings('.morecontent').hide();
            } else {
                $(this).addClass("less");
                $(this).html(lesstext);
                $(this).siblings('.morecontent').show();
            }
            return false;
        });

    });

</script>

<!--SCRIPT PER GESTIRE IL TITOLO DELLA CARD-->

<script>
    $(document).ready(function () {
        $('.card-title').each(function () {
            var title = $(this).text();
            if (title.length > 30) {
                $(this).text(title.substring(0, 30) + '...');
            }
        });
    });
</script>




<script type="text/javascript">
    $('.categoria-titolo').click(function (event) {
        event.preventDefault();
        var categoria = $(this).data('categoria');
        var cards = $('.card-container[data-categoria="' + categoria + '"] .card');

        if (cards.is(':visible')) {
            cards.hide();
        } else {
            cards.show();
        }

        controllaCard();
    });

    function controllaCard() {
        if ($('.card:visible').length == 0) {
            $('#categorie').addClass('d-flex');
        } else {
            $('#categorie').removeClass('d-flex');
        }
    }

    $(document).ready(function () {
        controllaCard();
    });
</script>

@if (!User.IsInRole("Amministratore"))
{
    <button onclick="cartFunction()" id="cartBtn" title="Vai al carrello" data-aos="zoom-in">
        <i class="bi bi-cart4"></i> Carrello
    </button>
}

<script>
    function cartFunction() {
        window.location.href = '/Dettaglio/Carrello';
    }
</script>

<script>
// Funzione per aggiornare il conteggio del carrello
function updateCartCount() {
    $.get('@Url.Action("GetCount", "Dettaglio")', function(data) {
        $('#cart-count').text(data);
    });
}

</script>



<script type="text/javascript">
function updateCartIcon() {
    $.get('@Url.Action("GetCount", "Dettaglio")', function(data) {
        $('.cart-count').text(data);
    });
}

$(document).ready(function () {
    var baseUrl = "/Dettaglio/Index/";
    var isAuthenticated = '@User.Identity.IsAuthenticated' === 'True';
    $(".OrdinaBtn").click(function (event) {
        event.preventDefault();
        var id = $(this).data("id");
        var quantity = $(this).parent("#contBtn").siblings(".qta").children(".quantita").children("input").val();

        if (!isAuthenticated)
        {
            swal({
                title: "Utente non loggato",
                text: "Effettua il login!",
                icon: "warning",
                button: "OK",
            });
        }
        else
        {
            $.ajax({
                url: baseUrl,
                type: "GET",
                data: { id: id, quantity: quantity },
                success: function (response) {
                    swal("Fatto!", "Articolo aggiunto con successo!", "success");
                    $('.card-text.qta').find('input').val('');
                    // Aggiorna il conteggio del carrello
                    updateCartCount();
                    // Aggiorna l'icona del carrello nella navbar
                    updateCartIcon();
                },
                error: function (xhr, status, error) {
                    swal("Errore!", "Errore in fase di aggiunta articolo: " + error, "error");
                }
            });
        }
    });
});

</script>

<script>
    $(window).scroll(function () {
        if ($(this).scrollTop() > 100) { // Imposta la posizione da cui inizia lo scrolling
            $('#menuCategorie').addClass('fixed');
        } else {
            $('#menuCategorie').removeClass('fixed');
        }
    });
</script>



<script type="text/javascript">
    $(document).ready(function () {
        $('.fade-in-right').addClass('animated fadeInRight');
    });
</script>


<script>
    $(window).scroll(function () {
        var footerTop = $('#footer').offset().top; // Ottieni la posizione del footer
        var categoryBottom = $('#menuCategorie').offset().top + $('#menuCategorie').height(); // Ottieni la posizione inferiore della colonna delle categorie

        if (categoryBottom > footerTop) {
            $('#menuCategorie').css('position', 'static'); // Cambia la posizione in static quando la colonna delle categorie raggiunge il footer
        } else {
            $('#menuCategorie').css('position', 'fixed'); // Altrimenti, rendi la posizione fixed
        }
    });

</script>