@model BLUPESCASTORE.Models.ORDINE

@{
    ViewBag.Title = "Delete";
}

<h2 class="fade-in-right custom-title">ELIMINA L'ORDINE D'ACQUISTO</h2>
<div class="container-fluid" id="bgMenu">

    <div class="container" id="areaRiservata">

        <div>
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.USER.Username)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.USER.Username)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Note)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Note)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Confermato)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Confermato)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.TotaleImporto)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.TotaleImporto)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Evaso)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Evaso)
                </dd>

            </dl>

            @using (Html.BeginForm("Delete", "Ordine", FormMethod.Post, new { id = "deleteForm" }))
            {
                @Html.AntiForgeryToken()

                <div class="form-actions no-color">
                    <button type="button" class="btn btn-danger" id="salva">Elimina</button>
                    @Html.ActionLink("Annulla", "Index", null, new { @class = "btn btn-secondary" })
                </div>

            }
        </div>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

<script>
    $(document).ready(function () {
        $('#salva').click(function (e) {
            e.preventDefault();
            swal({
                title: "Sei sicuro?",
                text: "Una volta eliminato, non sarai in grado di recuperare questo ordine!",
                icon: "warning",
                buttons: ["No, annulla!", "Sì, elimina!"],
                dangerMode: true,
            })
                .then((willDelete) => {
                    if (willDelete) {
                        $('#deleteForm').submit();
                    }
                });
        });
    });

</script>


<style>
    .custom-title {
        color: #1851C2; /* Cambia questo con il colore che preferisci */
        font-family: 'Fishing Script', cursive; /* Cambia questo con il font che preferisci */
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Questo aggiunge un'ombra al testo */
    }
</style>