@model BLUPESCASTORE.Models.DETTAGLIO

@{
    ViewBag.Title = "Delete";
}

<h2 class="fade-in-right custom-title">RIMUOVI ARTICOLO DAL CARRELLO</h2>

<div class="container-fluid" id="bgMenu">

    <div class="container" id="areaRiservata">


        <dl class="dl-horizontal">

            <dt>
                @Html.DisplayNameFor(model => model.ARTICOLO.NomeArticolo)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ARTICOLO.NomeArticolo)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Quantita)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Quantita)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.PrezzoTotale)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PrezzoTotale)
            </dd>

        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <button type="submit" id="salva" class="btn btn-danger">ELIMINA</button>
                @Html.ActionLink("INDIETRO", "Carrello", null, new { @class = "btn btn-secondary" })
            </div>

        }
    </div>
</div>

<style>
    .custom-title {
        color: #1851C2; /* Cambia questo con il colore che preferisci */
        font-family: 'Fishing Script', cursive; /* Cambia questo con il font che preferisci */
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Questo aggiunge un'ombra al testo */
    }
</style>