@model BLUPESCASTORE.Models.DETTAGLIO

@{
    ViewBag.Title = "Delete";
}

<h2>RIMUOVI ARTICOLO DAL CARRELLO</h2>
<div class="container-fluid" id="bgMenu">

    <div class="container" id="areaRiservata">


        <dl class="dl-horizontal">

            <dt>
                @Html.DisplayNameFor(model => model.ARTICOLO.NomeArticolo)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ARTICOLO.NomeArticolo)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Quantita)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Quantita)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.PrezzoTotale)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PrezzoTotale)
            </dd>

        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <button type="submit" id="salva" class="btn btn-danger">ELIMINA</button> 
                @Html.ActionLink("INDIETRO", "Carrello", null, new { @class = "btn btn-secondary" })
            </div>

        }
    </div>
</div>